import init.p920.usb.rc

on early-init
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/emmc 0000 system system
    symlink /mnt/sdcard /sdcard

on init

sysclktz 0

loglevel 3

    export EXTERNAL_STORAGE /mnt/sdcard

    wait /dev/block/mmcblk0p2

    mkdir /misc 0771 system misc
    mkdir /lgdrm 0770 system system

    mkdir /sqlite_stmt_journals 01777 root root
    mount tmpfs tmpfs /sqlite_stmt_journals size=4m

    # change permissions for alsa nodes
    symlink /dev/snd/pcmC0D0c /dev/pcmC0D0c
    symlink /dev/snd/pcmC0D0p /dev/pcmC0D0p
    symlink /dev/snd/controlC0 /dev/controlC0
    symlink /dev/snd/timer /dev/timer
    chmod 0777 /dev/pcmC0D0c
    chmod 0777 /dev/pcmC0D0p
    chmod 0777 /dev/controlC0
    chmod 0777 /dev/timer

### LGE STUFFS
    chown root radio /proc/cmdline
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0020/gripsuppression
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0020/handsuppression
    chown system radio /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0036/brightness
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0036/enable
    chown system radio /sys/devices/platform/keypad_led/leds/keyboard-backlight/brightness
    chown system radio /sys/devices/platform/omap-keypad/key_test_mode
    chown system radio /sys/devices/platform/i2c_omap.4/i2c-4/4-0068/cal_onoff
    chown system radio /misc/cal.bin

    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/atime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ptime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/wtime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ppcount
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pers
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pilt
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/piht
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/GA
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/DF
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pdata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_als
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_prox
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/proxidata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/luxdata

    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder
    chown system system /sys/devices/platform/omapdss/overlay0/position
    chown system system /sys/devices/platform/omapdss/overlay1/position
    chown system system /sys/devices/platform/omapdss/overlay2/position
    chown system system /sys/devices/platform/omapdss/overlay3/position
    chown system system /sys/devices/platform/omapdss/overlay0/output_size
    chown system system /sys/devices/platform/omapdss/overlay1/output_size
    chown system system /sys/devices/platform/omapdss/overlay2/output_size
    chown system system /sys/devices/platform/omapdss/overlay3/output_size
    chown system system /sys/devices/platform/omapdss/overlay0/portrait_position
    chown system system /sys/devices/platform/omapdss/overlay1/portrait_position
    chown system system /sys/devices/platform/omapdss/overlay2/portrait_position
    chown system system /sys/devices/platform/omapdss/overlay3/portrait_position
    chown system system /sys/devices/platform/omapdss/overlay0/portrait_output_size
    chown system system /sys/devices/platform/omapdss/overlay1/portrait_output_size
    chown system system /sys/devices/platform/omapdss/overlay2/portrait_output_size
    chown system system /sys/devices/platform/omapdss/overlay3/portrait_output_size
    chown system system /sys/devices/platform/omapdss/overlay0/input_size
    chown system system /sys/devices/platform/omapdss/overlay1/input_size
    chown system system /sys/devices/platform/omapdss/overlay2/input_size
    chown system system /sys/devices/platform/omapdss/overlay3/input_size
    chown system system /sys/devices/platform/omapdss/overlay0/color_mode
    chown system system /sys/devices/platform/omapdss/overlay1/color_mode
    chown system system /sys/devices/platform/omapdss/overlay2/color_mode
    chown system system /sys/devices/platform/omapdss/overlay3/color_mode
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager0/trans_key_value
    chown system system /sys/devices/platform/omapdss/manager0/trans_key_type
    chown system system /sys/devices/platform/omapdss/manager0/trans_key_enabled
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager1/trans_key_value
    chown system system /sys/devices/platform/omapdss/manager1/trans_key_type
    chown system system /sys/devices/platform/omapdss/manager1/trans_key_enabled
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/manager2/trans_key_value
    chown system system /sys/devices/platform/omapdss/manager2/trans_key_type
    chown system system /sys/devices/platform/omapdss/manager2/trans_key_enabled
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled

    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings

    chown system system /sys/devices/platform/omapfb/graphics/fb0/overlays
    chown system system /sys/devices/platform/omapfb/graphics/fb0/overlays_rotate
    chown system system /sys/devices/platform/omapfb/graphics/fb1/overlays
    chown system system /sys/devices/platform/omapfb/graphics/fb1/overlays_rotate

    chown system system /sys/devices/platform/omapdss/display1/hdmi_out
    chown system system /sys/devices/platform/omapdss/display1/hdmi_source
    chown system system /sys/devices/platform/omapdss/display1/hdmi_key
    chown system system /sys/devices/platform/omapdss/display1/hdmi_drm_lock
    chown system system /sys/devices/platform/omapdss/display1/hdmi_drm_usr_sel
    chown system system /sys/devices/platform/omapdss/display1/custom_edid_timing
    chown system system /sys/devices/platform/omapdss/display1/hpd_enabled

    chown system system /sys/devices/platform/omapdss/display0/sgx_manual_recovery
    chmod 0775 /sys/devices/platform/omapdss/display0/sgx_manual_recovery
    # change permissions for overlay managers and display devices
    chmod 0775 /sys/devices/platform/omapdss/display0/enabled
    chmod 0775 /sys/devices/platform/omapdss/display1/enabled
    chmod 0775 /sys/devices/platform/omapdss/display2/enabled
    chmod 0775 /sys/devices/platform/omapdss/display3/enabled
    chmod 0775 /sys/devices/platform/omapdss/display0/name
    chmod 0775 /sys/devices/platform/omapdss/display1/name
    chmod 0775 /sys/devices/platform/omapdss/display2/name
    chmod 0775 /sys/devices/platform/omapdss/display3/name
    chmod 0775 /sys/devices/platform/omapdss/overlay0/manager
    chmod 0775 /sys/devices/platform/omapdss/overlay1/manager
    chmod 0775 /sys/devices/platform/omapdss/overlay2/manager
    chmod 0775 /sys/devices/platform/omapdss/overlay3/manager
    chmod 0775 /sys/devices/platform/omapdss/overlay0/zorder
    chmod 0775 /sys/devices/platform/omapdss/overlay1/zorder
    chmod 0775 /sys/devices/platform/omapdss/overlay2/zorder
    chmod 0775 /sys/devices/platform/omapdss/overlay3/zorder
    chmod 0775 /sys/devices/platform/omapdss/overlay0/position
    chmod 0775 /sys/devices/platform/omapdss/overlay1/position
    chmod 0775 /sys/devices/platform/omapdss/overlay2/position
    chmod 0775 /sys/devices/platform/omapdss/overlay3/position
    chmod 0775 /sys/devices/platform/omapdss/overlay0/output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay1/output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay2/output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay3/output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay0/portrait_position
    chmod 0775 /sys/devices/platform/omapdss/overlay1/portrait_position
    chmod 0775 /sys/devices/platform/omapdss/overlay2/portrait_position
    chmod 0775 /sys/devices/platform/omapdss/overlay3/portrait_position
    chmod 0775 /sys/devices/platform/omapdss/overlay0/portrait_output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay1/portrait_output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay2/portrait_output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay3/portrait_output_size
    chmod 0775 /sys/devices/platform/omapdss/overlay0/input_size
    chmod 0775 /sys/devices/platform/omapdss/overlay1/input_size
    chmod 0775 /sys/devices/platform/omapdss/overlay2/input_size
    chmod 0775 /sys/devices/platform/omapdss/overlay3/input_size
    chmod 0775 /sys/devices/platform/omapdss/overlay0/color_mode
    chmod 0775 /sys/devices/platform/omapdss/overlay1/color_mode
    chmod 0775 /sys/devices/platform/omapdss/overlay2/color_mode
    chmod 0775 /sys/devices/platform/omapdss/overlay3/color_mode
    # change permissions for manager tranparency parameters
    chmod 0775 /sys/devices/platform/omapdss/manager0/name
    chmod 0775 /sys/devices/platform/omapdss/manager0/display
    chmod 0775 /sys/devices/platform/omapdss/manager0/trans_key_value
    chmod 0775 /sys/devices/platform/omapdss/manager0/trans_key_type
    chmod 0775 /sys/devices/platform/omapdss/manager0/trans_key_enabled
    chmod 0775 /sys/devices/platform/omapdss/manager1/name
    chmod 0775 /sys/devices/platform/omapdss/manager1/display
    chmod 0775 /sys/devices/platform/omapdss/manager1/trans_key_value
    chmod 0775 /sys/devices/platform/omapdss/manager1/trans_key_type
    chmod 0775 /sys/devices/platform/omapdss/manager1/trans_key_enabled
    chmod 0775 /sys/devices/platform/omapdss/manager2/name
    chmod 0775 /sys/devices/platform/omapdss/manager2/display
    chmod 0775 /sys/devices/platform/omapdss/manager2/trans_key_value
    chmod 0775 /sys/devices/platform/omapdss/manager2/trans_key_type
    chmod 0775 /sys/devices/platform/omapdss/manager2/trans_key_enabled
    chmod 0775 /sys/devices/platform/omapdss/overlay0/enabled
    chmod 0775 /sys/devices/platform/omapdss/overlay1/enabled
    chmod 0775 /sys/devices/platform/omapdss/overlay2/enabled
    chmod 0775 /sys/devices/platform/omapdss/overlay3/enabled
    # change permissions for display timings to get the resolutions
    chmod 0775 /sys/devices/platform/omapdss/display0/timings
    chmod 0775 /sys/devices/platform/omapdss/display1/timings
    chmod 0775 /sys/devices/platform/omapdss/display2/timings
    chmod 0775 /sys/devices/platform/omapdss/display3/timings
    #change framebuffer permission
    chmod 0775 /sys/devices/platform/omapfb/graphics/fb0/overlays
    chmod 0775 /sys/devices/platform/omapfb/graphics/fb0/overlays_rotate
    chmod 0775 /sys/devices/platform/omapfb/graphics/fb1/overlays
    chmod 0775 /sys/devices/platform/omapfb/graphics/fb1/overlays_rotate
    #change permissions for LCD backlightness
    chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0036/brightness
    #AT command AT%LEDON
    chmod 0664 /sys/devices/platform/keypad_led/leds/keyboard-backlight/brightness
    #AT command AT%GKPD
    chmod 0664 /sys/devices/platform/omap-keypad/key_test_mode

    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/flash
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/flash_brightness
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/torch
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/enable

#LGE_KERNEL_MUX START  jongho3.lee@lge.com
    chown root  radio /sys/class/power_supply/battery/gauge_control
    chown root  radio /sys/class/power_supply/battery/voltage_now

# Disable fb1 wonki.choi@lge.com
    write /sys/devices/platform/omapfb/graphics/fb1/overlays ""
    write /sys/devices/platform/omapdss/overlay1/enabled 0
#    write /sys/devices/platform/omapdss/overlay1/manager "2lcd"
# Seting for HDMI plug-in wonki.choi@lge.com
    write /sys/devices/platform/omapdss/display1/enabled 0
    write /sys/devices/platform/omapdss/display1/hpd_enabled 1
# setting HDMI Routing in system
    write /sys/devices/platform/omapdss/overlay3/manager "tv"
    write /sys/devices/platform/omapdss/overlay3/zorder 2

    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_out
    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_source
    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_key
    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_rotation
    chmod 0775 /sys/devices/platform/omapdss/overlay1/input_size
    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_3d_enable
    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_3d_type
    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_drm_lock
    chmod 0775 /sys/devices/platform/omapdss/display1/hdmi_drm_usr_sel
    chmod 0775 /sys/devices/platform/omapdss/display1/custom_edid_timing
    chmod 0775 /sys/devices/platform/omapdss/display1/hpd_enabled

 #HDMI device

 chown system system /sys/devices/platform/omapdss/overlay0/req_enabled
 chown system system /sys/devices/platform/omapdss/overlay0/req_rotation
 chown system system /sys/devices/platform/omapdss/overlay0/req_position
 chown system system /sys/devices/platform/omapdss/overlay0/req_out_size
 chown system system /sys/devices/platform/omapdss/overlay0/req_manager
 chown system system /sys/devices/platform/omapdss/overlay0/req_request
 chown system system /sys/devices/platform/omapdss/overlay0/req_global_alpha
 chown system system /sys/devices/platform/omapdss/overlay0/req_zorder

 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_enabled
 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_rotation
 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_position
 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_out_size
 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_manager
 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_request
 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_global_alpha
 chmod 0775 /sys/devices/platform/omapdss/overlay0/req_zorder

 chown system system /sys/devices/platform/omapdss/overlay1/req_enabled
 chown system system /sys/devices/platform/omapdss/overlay1/req_rotation
 chown system system /sys/devices/platform/omapdss/overlay1/req_position
 chown system system /sys/devices/platform/omapdss/overlay1/req_out_size
 chown system system /sys/devices/platform/omapdss/overlay1/req_manager
 chown system system /sys/devices/platform/omapdss/overlay1/req_request
 chown system system /sys/devices/platform/omapdss/overlay1/req_global_alpha
 chown system system /sys/devices/platform/omapdss/overlay1/req_zorder

 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_enabled
 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_rotation
 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_position
 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_out_size
 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_manager
 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_request
 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_global_alpha
 chmod 0775 /sys/devices/platform/omapdss/overlay1/req_zorder

 chown system system /sys/devices/platform/omapdss/overlay2/req_enabled
 chown system system /sys/devices/platform/omapdss/overlay2/req_rotation
 chown system system /sys/devices/platform/omapdss/overlay2/req_position
 chown system system /sys/devices/platform/omapdss/overlay2/req_out_size
 chown system system /sys/devices/platform/omapdss/overlay2/req_manager
 chown system system /sys/devices/platform/omapdss/overlay2/req_request
 chown system system /sys/devices/platform/omapdss/overlay2/req_global_alpha
 chown system system /sys/devices/platform/omapdss/overlay2/req_zorder

 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_enabled
 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_rotation
 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_position
 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_out_size
 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_manager
 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_request
 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_global_alpha
 chmod 0775 /sys/devices/platform/omapdss/overlay2/req_zorder

 chown system system /sys/devices/platform/omapdss/overlay3/req_enabled
 chown system system /sys/devices/platform/omapdss/overlay3/req_rotation
 chown system system /sys/devices/platform/omapdss/overlay3/req_position
 chown system system /sys/devices/platform/omapdss/overlay3/req_out_size
 chown system system /sys/devices/platform/omapdss/overlay3/req_manager
 chown system system /sys/devices/platform/omapdss/overlay3/req_request
 chown system system /sys/devices/platform/omapdss/overlay3/req_global_alpha
 chown system system /sys/devices/platform/omapdss/overlay3/req_zorder

 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_enabled
 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_rotation
 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_position
 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_out_size
 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_manager
 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_request
 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_global_alpha
 chmod 0775 /sys/devices/platform/omapdss/overlay3/req_zorder

# Enable hotplug detection for HDMI
    write /sys/devices/platform/omapdss/display1/hpd_enabled 1


### END OF LGE STUFFS

    # flashlight
    chown system camera /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/torch
    chmod 0660          /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/torch

# Allow everybody to read the xt_qtaguid resource tracking misc dev.
# This is needed by any process that uses socket tagging.
    chmod 0644 /dev/xt_qtaguid

on fs
# Boost the CPU for 60 sec for boot optimization
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 60000000
    write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 3000000

    mount ext4 /dev/block/mmcblk0p7 /system ro noatime data=ordered wait
    mount ext4 /dev/block/mmcblk0p8 /data nosuid nodev noatime data=ordered wait
    chown system system /data
    chmod 0771 /data
    mount ext4 /dev/block/mmcblk0p14 /misc nosuid nodev noatime data=ordered
    chown system misc /misc
    chmod 0771 /misc
    mount ext4 /dev/block/mmcblk0p10 /cache nosuid nodev noatime data=ordered
    chown system cache /cache
    chmod 0770 /cache
    #mount ext3 /dev/block/mmcblk0p11 /lgdrm nosuid nodev noatime data=ordered

#LGE_CHANGE_S, taewonee.kim@lge.com - TI wifi
    insmod /system/lib/modules/compat.ko
    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/mac80211.ko
    insmod /system/lib/modules/wl12xx.ko debug_level=0x63c00
#LGE_CHANGE_E, taewonee.kim@lge.com - TI wifi

#TIK_BlueTI
#Bluetooth
        insmod /system/lib/modules/bluetooth.ko force_acl_master=1 enable_mgmt=1 enable_le=1
        insmod /system/lib/modules/rfcomm.ko
        insmod /system/lib/modules/btwilink.ko
#TIK_End


on post-fs
#LGE_CHANGE_S [taehwan.kim@lge.com] 2010-05-04, 27.8.2 patch., 27.10.1 patch
# power management
    # mount debugfs
    mkdir /debug
    mount debugfs debugfs /debug

    # switch CPUfreq from performance to ondemand & tune it
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 70

    # Enabling write by applications such as Web Browser for Performance Boost
    chmod 0664 /sys/devices/system/cpu/cpu1/online
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    # Enable Smart Reflex in debugfs
    write /debug/pm_debug/smartreflex/sr_core/autocomp 1
    write /debug/pm_debug/smartreflex/sr_iva/autocomp 1
    write /debug/pm_debug/smartreflex/sr_mpu/autocomp 1

    # Enable off mode by default
    write /debug/pm_debug/enable_off_mode 1
#LGE_CHANGE_E [kibum.lee@lge.com] 2010-12-09, 27.8.2 patch, 27.10.1 patch

on post-fs-data
    chown radio radio /dev/block/mmcblk0p2
    chown radio radio /dev/block/mmcblk0p3
    chmod 0660 /dev/block/mmcblk0p2
    chmod 0660 /dev/block/mmcblk0p3

# LGE_CHANGE_S Wi-Fi jiwoong.eom@lge.com 20101124 for SoftAP
    mkdir /data/misc/wifi/softap 0771 wifi wifi
# LGE_CHANGE_E Wi-Fi jiwoong.eom@lge.com 20101124 for SoftAP
    # Copying hostapd.conf (WLAN soft AP)
    copy /system/etc/wifi/softap/hostapd.conf /data/misc/wifi/hostapd.conf
    chown wifi radio /data/misc/wifi
    mkdir /data/misc/dhcp 0777 dhcp dhcp
# LGE_CHANGE_E Wi-Fi jiwoong.eom@lge.com 20101124 for SoftAP
    mkdir /data/misc/wifi/sockets 0771 wifi wifi

    setprop vold.post_fs_data_done 1

    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

on boot
### LGE GPS
# gps permissions
    chown system system /sys/devices/platform/gps_gpio/poweron
    chown system system /sys/devices/platform/gps_gpio/reset
    mkdir /data/gps 0775 system net_raw
    mkdir /data/gps/var 0775 system net_raw
    mkdir /data/gps/run 0775 system net_raw
    mkdir /data/gps/log 0770 system net_raw
    mkdir /data/cache
    chmod 777 /data/cache

service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    oneshot


# Lazy way go get things done when /system(/build.prop) is up
on property:ro.product.device=p920
    wait /sys/class/rfkill/rfkill0/type
    start uim
    wait /data/misc/wifi
    start wlan_precheck

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n wlan0
    class main
    disabled
    oneshot

service hostapd /system/bin/hostap -dd /data/misc/wifi/hostapd.conf
    class main
    disabled
    oneshot

service wlan_precheck /system/bin/wlan-precheck
    class main
    disabled
    oneshot

# load IVA firmware
#service baseimage /system/bin/syslink_daemon.out /system/base_image_sys_m3.xem3 /system/base_image_app_m3.xem3
#    class core
#     critical
#     user media
#     group media
#     oneshot

service uim /system/bin/uim-sysfs
    class main
    user root
    group media bluetooth
    disabled
    oneshot

service hciattach /system/bin/hciattach -l
    class main
    user root
    group bluetooth net_bt_admin misc
    disabled
    oneshot

## GPS
service glgps /system/bin/glgps -c /system/etc/gps_brcm_conf.xml
    class main
    user system
    group net_raw sdcard_rw system net_admin inet

